body {
    background-color: #F0EAE7;
    color: #3B2621;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #DACCBA !important;
}

.navbar .nav.link, .navbar .navbar-brand {
    color:#3B2621 !important;
}

.navbar .navbar-link:hover {
    color: #0000 !important;
    text-decoration: underline;
}

.hero-section {
    background: url('images/hero-bg.jpg');
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat; 
    color: #F0EAE7;
    position: relative;
    padding: 5rem 0;
}

.hero-section .container {
    position: relative;
    z-index: 1;
}

form {
    background-color: #3B2621;
    color: #DACCBA;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(59, 38, 33, 0.2);
}

form label {
    color:#3B2621;
    font-weight: 500;
}

/* Form input & text area */
form .form-control {
    background-color: #ffffff;
    color: #3B2621;
    border: 1px solid #B8A996;
}

/* form submit button */
.btn-success {
    background-color: #DACCBA;
    color: #3B2621;
    font-weight: 600;
}

section h2 {
    color: #3B2621;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #3B2621;
    font-weight: 600;
    font-size: 1.25rem;
}

.card p {
    color: #5A463F;
}

footer {
    background-color: #DACCBA !important;
    color:#3B2621 !important;
    text-align: center;
    padding: 4px 0px;
}